<div class="card">
    <div class="card-body">
      <form [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)">
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" formControlName="username">
            <div>
                <small *ngIf="username.touched && username.errors?.required" class="text-danger">
                    Please enter your username.
                </small>
            </div>
          </div>
          <div class="form-group">
              <label for="username">Password</label>
              <input type="password" class="form-control" formControlName="password">
              <div>
                <small *ngIf="password.touched && password.errors?.required" class="text-danger">
                    Please enter your username.
                </small>

                <!-- Add a condition for incorrect username/password combination -->
                <small *ngIf="loginAttempted" class="text-danger">
                    Wrong Username and Password combination. Please try again.
                </small>
            </div>
          </div>
          <div class="row">
              <div class="col">
                <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid">Log In</button>
              </div>
              <div class="col">

              </div>
              <div class="col">
                <a routerLink="/registration">Register a new account</a>

              </div>
          </div>
          <br>
      </form>
    </div>
  </div>