<form [formGroup]="editForm" (ngSubmit)="updateCharcter(editForm.value)" *ngIf="character != null">

    <h4>Identity</h4>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="charName">Name</label>
            <input type="text" class="form-control" formControlName="charName">
        </div>
        <div class="form-group col-md-6">
            <label for="charClass">Class</label>
            <input type="text" class="form-control" formControlName="charClass">
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-6">

            <h4>Stats</h4>

            <div class="form-group">
                <label for="charLevel">Level</label>
                <input type="text" formControlName="charLevel" class="form-control">
            </div>
            <div class="form-group">
                <label for="charHP">HP</label>
                <input type="text" formControlName="charHP"  class="form-control">
            </div>
            <div class="form-group">
                <label for="charSTR">STR</label>
                <input type="text" formControlName="charSTR"  class="form-control">
            </div>
            <div class="form-group">
                <label for="charDEX">DEX</label>
                <input type="text" formControlName="charDEX"  class="form-control">
            </div>
            <div class="form-group">
                <label for="charCON">CON</label>
                <input type="text" formControlName="charCON"  class="form-control">
            </div>
            <div class="form-group">
                <label for="charINT">INT</label>
                <input type="text" formControlName="charINT"  class="form-control">
            </div>
            <div class="form-group">
                <label for="charWIS">WIS</label>
                <input type="text" formControlName="charWIS"  class="form-control">
            </div>
            <div class="form-group">
                <label for="charCHA">CHA</label>
                <input type="text" formControlName="charCHA"  class="form-control">
            </div>

            
        </div>
        <div class="col-md-6">

            <h4>Biography</h4>
            <div class="form-group">
                <label for="charRace">Race</label>
                <input type="text" formControlName="charRace" class="form-control">
            </div>
            <div class="form-group">
                <label for="charBackground">Background</label>
                <input type="text" formControlName="charBackground" class="form-control">
            </div>
            <div class="form-group">
                <label for="charAlignment">Alignment</label>
                <input type="text" formControlName="charAlignment"  class="form-control">
            </div>
            
        </div>

    </div>
    
    <div class="row">
        <div class="col-12 text-center" style="padding-top: 1em;padding-bottom: 1em;">
            <small *ngIf="!editForm.valid" class="alert alert-danger" style="width: 50%;" role="alert">
                {{errorMessage}}
            </small>
        </div>
    </div>

    <div class="row">
        <div class="col-12 text-center" style="padding-top: 1em;padding-bottom: 1em;">
            <button type="submit" class="btn btn-success" style="width: 45%;">Update</button>
            <!--[disabled]="!editForm.valid"-->
        </div>
    </div>

</form>